* {
    /* margin & padding -> 0, to remove defalut margin &padding */
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e2e0;
    font-family: 'Merriweather', serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    position: sticky;
    top: 0;
    height: 50px;
    box-shadow: 0 10px 15px -3px #53748a;
}

.navbar_brand {
    width: 100px;
    /* animation */
    animation: 10s logo infinite;
    animation-delay: 2s;
}

@keyframes logo {
    20%{
    margin-left : 70%;
    }
}
.navbar_logo {
    /* if we resize img it will appear squized so make parent node size to 100px and logoimg to 100%  */
    width: 100%;
}

.button_primary {
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
    animation: 5s button;
    
}
@keyframes button {
    20% {
        transform: rotate(360deg);
    }
    
}
.button_primary:hover {
    background-image: linear-gradient(to left, #EA1179 0%, #F6635C 51%, #EA1179 100%);
    cursor: pointer;
}

/* main section */
.section {
    margin: 4rem 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.hero_container {
    width: 100%;
    margin-top: 20px;
}

.hero_image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 /25%);
}

.hero_description {
    margin: 15px;
}

.main_text {
    margin-top: 1rem;
    color: #0C356A;

}

.heading_text {
    margin-top: 1rem;
    color: #0C356A;

}

/* explore menu  */

.explore_menu_container {
    margin: 1.5rem 0;
}

.explore_menu_list {
    width: 100%;
}

.food_card {
    width: 100%;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* Adding a smooth transition */
    box-shadow: 0 25px 50px -12px rgb(0 0 0 /25%);

}

.food_card:hover {
    transform: scale(0.8);
    /* Expand the block on hover */

}

.food_card_image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.food_card_description {
    padding: 15px;
}

.view_more_button {
    width: 100%;
    background: none;
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    transition: 0.3s;
    padding: 1rem;
}

.get_updates {
    margin-top: 20px;
}

.get_updates_box {
    margin-top: 3px;
    align-items: center;
    display: flex;
    padding: 0.5rem;
}

.email_box {
    border-radius: 5px;
    border: 1px solid #f5a2c7;
    background-color: #fde2e1;
    font-weight: 700;
    padding: 0.5rem;
    margin-right: 5px;
}

/* quote  image*/
.quote_container {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    background: url(images/restaurant5.jpg) center center / cover no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.quote_image_overlay {
    position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 39%;

}

.quote_image {
    position: absolute;
    width: 100%;
}

.quote_text {
    color: #f7f7f7;
    z-index: 4;
    margin: 0 1rem;
    font-weight: 600;
    background-color: #0C356A;
    text-align: center;

}

.footer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    border-radius: 1rem 1rem 0 0;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.logo_img {
    width: 300px;
    filter: brightness(0) invert(1);
}

.footer_list {
    list-style-type: none;
    padding: 0;
    margin-top: -1rem;

}

.footer_list>li {
    margin: 5px 0;
}

@media (min-width : 768px) {
    .navbar {
        justify-content: space-between;
        padding: 10px 30px;
    }

    .hero_container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .hero_image {
        width: 500px;

    }

    .main_text {
        text-align: left;
    }

    .heading_text {
        text-align: center;
        font-weight: 800;
        font-size: 30px;
    }

    /* explore menu  */
    .explore_menu_container {
        position: relative;
        margin-top: 3rem;
    }

    .menu_backdesign {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        transform: skewY(-5deg);
        z-index: -3;
    }

    .explore_menu_list {
        display: flex;
        margin-top: 50px;
    }

    .food_card {
        margin: 10px;
    }

    #pizza_card {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .view_more_button:hover {
        cursor: pointer;
        background: none;
        text-emphasis-color: rgb(180, 14, 111);
        transform: scale(0.8);
    }

    /* subscriber box/get updates */
    .get_updates {
        margin: 20px;
        display: grid;
        justify-content: center;
    }

    .quote_text {
        font-size: 20px;
    }

    .footer {
        display: flex;
        flex-direction: row;
    }


}

@media(min-width: 1024px) {
    .container {
        max-width: 70%;

    }

    .navbar_brand {
        width: 150px;
    }

    .button_primary {
        padding: 20px;
    }

    .hero_image {
        width: 550px;
    }

    .hero_description {
        font-size: 20px;
    }

    /* subscriber box/get updates */
    .get_updates {
        margin: 50px;
        font-size: large;
    }
}